<div class="container">
	<form name="PostsForm" class="form-horizontal"  novalidate>

		&nbsp; 
		<h2>Users Posts</h2> 
		<div class="panel-group">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse"  href="/#collapse1">Show filters</a> 
					</h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse">
					<div class="panel-body">
						<button  id="posts_id{{$index}}"   
								 class="btn btn-warning btn-xs"  ng-click="clearFilter()"> 
							Show all posts <span class="glyphicon glyphicon-refresh"></span>
						</button>
						&nbsp;
						<button  id="posts_id{{$index}}"   
								 class="btn btn-success btn-xs"  ng-click="callFilter()"> 
							Show only my posts <span class="glyphicon glyphicon-filter"></span>
						</button> 
					</div> 
				</div>
			</div>
		</div>

		<div class="panel-group"> 
			<div  class="panel panel-success">  
				<div class="panel-heading"> 
					<div class="panel-body">
						<button  id="post_id{{$index}}"   class="btn btn-info btn-xs"  
								 ui-sref="root.post({mode:'new'})"> 
							Create Post <span class="glyphicon glyphicon-plus"></span>
						</button> 
						<table class="table table-hover">
							<thead>
							<th class="col-md-1"> </th>
							<th> Number</th> 
							<th> Post Title </th> 
							<th> Post Body </th>   
							</thead> 
							<tbody>   
								<tr ng-repeat="post in posts| filterBy: ['userId']: filterValue">   
									<td> 
							<button-delete pk="{{post.id}}" name="posts" array="posts"> </button-delete>
							<button  id="toDo_id{{$index}}"  
									 class="btn btn-success btn-xs"  
									 ng-click='loadPost(post.id)'>
								<span class="glyphicon glyphicon-edit"></span>
							</button> 
							<span ng-show="post.isMine" class="glyphicon glyphicon-home"></span>

							</td> 
							<td> #{{$index + 1}} </td>
							<td> {{post.title}}  </td>
							<td> {{post.body}}  </td> 
							</tr> 
							</tbody>  
						</table>
					</div>
				</div> 
			</div>
		</div>
	</form> 
</div>